#room {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    "video chat"
    "poll chat";
}

#video-player {
  grid-area: video;
}

#chat {
  grid-area: chat;
}

#poll {
  grid-area: poll;
}