#room-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .room-card {
    opacity: .9;
  }
  .room-card:hover {
    opacity: 1;
    box-shadow: 0 0 0 1px #d4d4d5, 0 2px 0 0 #2185d0, 0 1px 3px 0 #d4d4d5;
  }
}

.room-card .extra.content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}